.dotted-border {
  height: 500px;
  border: 3px #b5b5b5 dashed;
  border-radius: 10px;
}

#your-app-here {
  position: relative;
}

#your-app-here div {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.has-text-purple {
  color: var(--purple);
}

.pointer {
  cursor: pointer;
}

#editor {
  #editor-body {
    height: calc(100vh - 52px);
  }

  .editor-code {
    border-right: 2px solid #bdc3c7;
    background-color: black;
    display: flex;
    flex-direction: column;
  }

  #ace-editor {
    flex-grow: 1;
  }

  .action-bar {
    height: 100px;
    padding-top: 20px;
    border-top: 2px solid #bdc3c7;
  }

  height: 100vh;
}
.is-full-width {
  width: 100%;
}
.is-full-height {
  height: 100%;
}

.card {
  display:flex;
  flex-direction: column;
}

.card-footer {
  margin-top: auto;
}
